// Variables for customization
$warn-color: #f44336; // Material warn color
$primary-color: #0078d4;
$secondary-color: #ffffff;
$light-background: #f9f9f9;
$hover-color: #e0f0ff;
$active-border-color: #0078d4;
$inactive-color: #666666;
$active-background-color: #4e88b4;

$card-border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$transition-duration: 0.3s;

$font-family: 'Roboto', sans-serif;
