.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  overflow: auto;
  max-height: 100vh;
  padding: 1rem;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the spinner */
  z-index: 1000; /* Ensures it appears in front of the photos */
}
